<html lang="pt" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TODO - login</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    </head>

    <body>

        <div th:replace="~{fragments/header :: header}"></div>

        <div id="content">
            <form method="post"  action="/api/v1/auth/authenticate" class="form_login maxw_800 round_border">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                <label for="username">login</label>
                <input type="text" name="username" id="username" placeholder="Username" minlength="1" maxlength="15">



                <br>
                <label for="password">senha</label>
                <input type="password" name="password" id="password" placeholder="Password"  minlength="4" maxlength="20">


                <span th:if="${error}" class="error-message" th:text="${error}">&nbsp</span>

                <br>

                <input id="submit_button" type="submit" value="Login">
                <a href="/register">register</a>
            </form>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>

    </body>

</html>